* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 400px;
  height: 400px;
  background-color: aquamarine;
  margin: auto;
  flex-direction: column;
  align-items: center;
}
